In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('Campaign data.csv')

In [3]:
df

,Date,Data source,Campaign,Media Type,City,Metric,Value
0,12/30/2019,Pinterest,Kicks campaign 2,Display,Colorado Springs-Pueblo,Impressions,1.00
1,12/30/2019,Pinterest,Kicks campaign 2,Display,Colorado Springs-Pueblo,Media Cost,0.00
2,12/30/2019,Pinterest,Kicks campaign 2,Display,Colorado Springs-Pueblo,Clicks,0.00
3,12/30/2019,Pinterest,Kicks campaign 2,Display,Sacramnto-Stkton-Modesto,Impressions,1.00
4,12/30/2019,Pinterest,Kicks campaign 2,Display,Sacramnto-Stkton-Modesto,Media Cost,0.00
...,...,...,...,...,...,...,...
123694,9/30/2021,Snapchat,Pathfinder campaign 7,Online Video,Sacramento - Stockton - Modesto,Media Cost,136.94
123695,9/30/2021,Snapchat,Pathfinder campaign 7,Online Video,Sacramento - Stockton - Modesto,Clicks,81.00
123696,9/30/2021,Snapchat,Pathfinder campaign 7,Online Video,Dallas - Ft. Worth,Impressions,16579.00
123697,9/30/2021,Snapchat,Pathfinder campaign 7,Online Video,Dallas - Ft. Worth,Media Cost,297.78
123698,9/30/2021,Snapchat,Pathfinder campaign 7,Online Video,Dallas - Ft. Worth,Clicks,128.00

In [4]:
df.shape

(123699, 7)

In [5]:
df.columns

Index(['Date', 'Data source', 'Campaign', 'Media Type', 'City', 'Metric',
       'Value'],
      dtype='object')

In [6]:
df.head()

,Date,Data source,Campaign,Media Type,City,Metric,Value
0,12/30/2019,Pinterest,Kicks campaign 2,Display,Colorado Springs-Pueblo,Impressions,1.0
1,12/30/2019,Pinterest,Kicks campaign 2,Display,Colorado Springs-Pueblo,Media Cost,0.0
2,12/30/2019,Pinterest,Kicks campaign 2,Display,Colorado Springs-Pueblo,Clicks,0.0
3,12/30/2019,Pinterest,Kicks campaign 2,Display,Sacramnto-Stkton-Modesto,Impressions,1.0
4,12/30/2019,Pinterest,Kicks campaign 2,Display,Sacramnto-Stkton-Modesto,Media Cost,0.0

In [7]:
df.tail()

,Date,Data source,Campaign,Media Type,City,Metric,Value
123694,9/30/2021,Snapchat,Pathfinder campaign 7,Online Video,Sacramento - Stockton - Modesto,Media Cost,136.94
123695,9/30/2021,Snapchat,Pathfinder campaign 7,Online Video,Sacramento - Stockton - Modesto,Clicks,81.00
123696,9/30/2021,Snapchat,Pathfinder campaign 7,Online Video,Dallas - Ft. Worth,Impressions,16579.00
123697,9/30/2021,Snapchat,Pathfinder campaign 7,Online Video,Dallas - Ft. Worth,Media Cost,297.78
123698,9/30/2021,Snapchat,Pathfinder campaign 7,Online Video,Dallas - Ft. Worth,Clicks,128.00

In [8]:
df.iloc()

In [9]:
df1=pd.DataFrame(data=df,columns=['Date'])

In [10]:
df1

              Date
0       12/30/2019
1       12/30/2019
2       12/30/2019
3       12/30/2019
4       12/30/2019
...            ...
123694   9/30/2021
123695   9/30/2021
123696   9/30/2021
123697   9/30/2021
123698   9/30/2021

[123699 rows x 1 columns]

In [11]:
df.dtypes

Date            object
Data source     object
Campaign        object
Media Type      object
City            object
Metric          object
Value          float64
dtype: object

In [12]:
df.isnull().sum()

Date           0
Data source    0
Campaign       0
Media Type     0
City           0
Metric         0
Value          0
dtype: int64

In [13]:
df

,Date,Data source,Campaign,Media Type,City,Metric,Value
0,12/30/2019,Pinterest,Kicks campaign 2,Display,Colorado Springs-Pueblo,Impressions,1.00
1,12/30/2019,Pinterest,Kicks campaign 2,Display,Colorado Springs-Pueblo,Media Cost,0.00
2,12/30/2019,Pinterest,Kicks campaign 2,Display,Colorado Springs-Pueblo,Clicks,0.00
3,12/30/2019,Pinterest,Kicks campaign 2,Display,Sacramnto-Stkton-Modesto,Impressions,1.00
4,12/30/2019,Pinterest,Kicks campaign 2,Display,Sacramnto-Stkton-Modesto,Media Cost,0.00
...,...,...,...,...,...,...,...
123694,9/30/2021,Snapchat,Pathfinder campaign 7,Online Video,Sacramento - Stockton - Modesto,Media Cost,136.94
123695,9/30/2021,Snapchat,Pathfinder campaign 7,Online Video,Sacramento - Stockton - Modesto,Clicks,81.00
123696,9/30/2021,Snapchat,Pathfinder campaign 7,Online Video,Dallas - Ft. Worth,Impressions,16579.00
123697,9/30/2021,Snapchat,Pathfinder campaign 7,Online Video,Dallas - Ft. Worth,Media Cost,297.78
123698,9/30/2021,Snapchat,Pathfinder campaign 7,Online Video,Dallas - Ft. Worth,Clicks,128.00

In [14]:
df.columns

Index(['Date', 'Data source', 'Campaign', 'Media Type', 'City', 'Metric',
       'Value'],
      dtype='object')

In [15]:
df.nunique()

Date             332
Data source        2
Campaign          58
Media Type         2
City             263
Metric             3
Value          43408
dtype: int64

In [16]:
df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
123694    False
123695    False
123696    False
123697    False
123698    False
Length: 123699, dtype: bool

In [17]:
df.sort_values

<bound method DataFrame.sort_values of               Date Data source               Campaign    Media Type  \
0       12/30/2019   Pinterest       Kicks campaign 2       Display
1       12/30/2019   Pinterest       Kicks campaign 2       Display
2       12/30/2019   Pinterest       Kicks campaign 2       Display
3       12/30/2019   Pinterest       Kicks campaign 2       Display
4       12/30/2019   Pinterest       Kicks campaign 2       Display
...            ...         ...                    ...           ...
123694   9/30/2021    Snapchat  Pathfinder campaign 7  Online Video
123695   9/30/2021    Snapchat  Pathfinder campaign 7  Online Video
123696   9/30/2021    Snapchat  Pathfinder campaign 7  Online Video
123697   9/30/2021    Snapchat  Pathfinder campaign 7  Online Video
123698   9/30/2021    Snapchat  Pathfinder campaign 7  Online Video

                                   City       Metric     Value
0               Colorado Springs-Pueblo  Impressions      1.00
1               Colorado Springs-Pueblo   Media Cost      0.00
2               Colorado Springs-Pueblo       Clicks      0.00
3              Sacramnto-Stkton-Modesto  Impressions      1.00
4              Sacramnto-Stkton-Modesto   Media Cost      0.00
...                                 ...          ...       ...
123694  Sacramento - Stockton - Modesto   Media Cost    136.94
123695  Sacramento - Stockton - Modesto       Clicks     81.00
123696               Dallas - Ft. Worth  Impressions  16579.00
123697               Dallas - Ft. Worth   Media Cost    297.78
123698               Dallas - Ft. Worth       Clicks    128.00

[123699 rows x 7 columns]>

In [18]:
df.sample()

,Date,Data source,Campaign,Media Type,City,Metric,Value
1568,2/17/2020,Pinterest,Armada campaign 2,Display,Wheeling-Steubenville,Clicks,45.0

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123699 entries, 0 to 123698
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Date         123699 non-null  object
 1   Data source  123699 non-null  object
 2   Campaign     123699 non-null  object
 3   Media Type   123699 non-null  object
 4   City         123699 non-null  object
 5   Metric       123699 non-null  object
 6   Value        123699 non-null  float64
dtypes: float64(1), object(6)
memory usage: 6.6+ MB

In [20]:
df.describe(include='all')

,Date,Data source,Campaign,Media Type,City,Metric,Value
count,123699,123699,123699,123699,123699,123699,1.236990e+05
unique,332,2,58,2,263,3,NaN
top,9/27/2021,Pinterest,Armada campaign 2,Online Video,New York,Impressions,NaN
freq,3828,66945,13392,99363,3483,41233,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,6.973219e+03
std,NaN,NaN,NaN,NaN,NaN,NaN,3.400261e+04
min,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
25%,NaN,NaN,NaN,NaN,NaN,NaN,6.000000e+00
50%,NaN,NaN,NaN,NaN,NaN,NaN,7.536000e+01
75%,NaN,NaN,NaN,NaN,NaN,NaN,1.144900e+03
max,NaN,NaN,NaN,NaN,NaN,NaN,1.627800e+06

In [21]:
df.loc[:,'City']

0                 Colorado Springs-Pueblo
1                 Colorado Springs-Pueblo
2                 Colorado Springs-Pueblo
3                Sacramnto-Stkton-Modesto
4                Sacramnto-Stkton-Modesto
                       ...
123694    Sacramento - Stockton - Modesto
123695    Sacramento - Stockton - Modesto
123696                 Dallas - Ft. Worth
123697                 Dallas - Ft. Worth
123698                 Dallas - Ft. Worth
Name: City, Length: 123699, dtype: object

In [22]:
df.dropna(inplace=True)

In [23]:
df

,Date,Data source,Campaign,Media Type,City,Metric,Value
0,12/30/2019,Pinterest,Kicks campaign 2,Display,Colorado Springs-Pueblo,Impressions,1.00
1,12/30/2019,Pinterest,Kicks campaign 2,Display,Colorado Springs-Pueblo,Media Cost,0.00
2,12/30/2019,Pinterest,Kicks campaign 2,Display,Colorado Springs-Pueblo,Clicks,0.00
3,12/30/2019,Pinterest,Kicks campaign 2,Display,Sacramnto-Stkton-Modesto,Impressions,1.00
4,12/30/2019,Pinterest,Kicks campaign 2,Display,Sacramnto-Stkton-Modesto,Media Cost,0.00
...,...,...,...,...,...,...,...
123694,9/30/2021,Snapchat,Pathfinder campaign 7,Online Video,Sacramento - Stockton - Modesto,Media Cost,136.94
123695,9/30/2021,Snapchat,Pathfinder campaign 7,Online Video,Sacramento - Stockton - Modesto,Clicks,81.00
123696,9/30/2021,Snapchat,Pathfinder campaign 7,Online Video,Dallas - Ft. Worth,Impressions,16579.00
123697,9/30/2021,Snapchat,Pathfinder campaign 7,Online Video,Dallas - Ft. Worth,Media Cost,297.78
123698,9/30/2021,Snapchat,Pathfinder campaign 7,Online Video,Dallas - Ft. Worth,Clicks,128.00

In [24]:
#nsmallest - return the first n rows ordered by columns in ascending order
#nlargest - return the first n rows ordered by columns in descending order

Find out the top 5 months in terms of impression

In [25]:
large5=df.nlargest(5,'Value')

In [26]:
large5

,Date,Data source,Campaign,Media Type,City,Metric,Value
110946,9/13/2021,Pinterest,Pathfinder campaign 1,Display,Los Angeles,Impressions,1627800.0
3936,3/9/2020,Pinterest,Armada campaign 2,Display,Los Angeles,Impressions,1483786.0
115773,9/20/2021,Pinterest,Pathfinder campaign 1,Display,Los Angeles,Impressions,1366794.0
3279,3/2/2020,Pinterest,Armada campaign 2,Display,Los Angeles,Impressions,1331403.0
2703,3/2/2020,Pinterest,Armada campaign 2,Display,New York,Impressions,1323275.0

In [27]:
df['Value'].nlargest(n=5)

110946    1627800.0
3936      1483786.0
115773    1366794.0
3279      1331403.0
2703      1323275.0
Name: Value, dtype: float64

In [36]:
df.groupby('Date')['Value'].nlargest(5)

Date
1/1/2021  52410     36202.0
          52374     28096.0
          52413     26252.0
          52440     23624.0
          52446     21635.0
                     ...
9/9/2021  109131    55315.0
          109095    46086.0
          109128    41200.0
          109158    31699.0
          109107    29854.0
Name: Value, Length: 1660, dtype: float64

In [44]:
large5=df.nlargest(5,'Value')['Metric']

In [41]:
large5

110946    Impressions
3936      Impressions
115773    Impressions
3279      Impressions
2703      Impressions
Name: Metric, dtype: object

In [56]:
df.groupby('Metric')['Value'].nlargest(5)

Metric
Clicks       3938         2879.00
             1409         2749.00
             2705         2692.00
             2630         2640.00
             3281         2634.00
Impressions  110946    1627800.00
             3936      1483786.00
             115773    1366794.00
             3279      1331403.00
             2703      1323275.00
Media Cost   35167       15365.90
             30283       15111.60
             25663       14072.47
             35170       12059.50
             30286       11975.97
Name: Value, dtype: float64

In [61]:
(df.groupby(['Metric','Campaign'])[['Date','Value']].sum()).sort_values(by='Value',ascending=False)

                                                                                Date  \
Metric      Campaign
Impressions Armada campaign 2      2/3/20202/3/20202/3/20202/3/20202/3/20202/3/20...
            Pathfinder campaign 2  8/2/20218/2/20218/2/20218/2/20218/2/20218/2/20...
            Pathfinder campaign 6  8/2/20218/2/20218/2/20218/2/20218/2/20218/2/20...
            Pathfinder campaign 1  9/6/20219/6/20219/6/20219/6/20219/6/20219/6/20...
            Altima campaign 3      9/28/20209/28/20209/28/20209/28/20209/28/20209...
...                                                                              ...
Clicks      Kicks campaign 1       12/30/201912/30/201912/30/201912/30/201912/30/...
            Kicks campaign 2       12/30/201912/30/20191/6/20201/6/20201/6/20201/...
            Armada campaign 1      4/1/20214/1/20214/1/20214/1/20214/1/20214/1/20...
Media Cost  Kicks campaign 1       12/30/201912/30/201912/30/201912/30/201912/30/...
            Kicks campaign 2       12/30/201912/30/20191/6/20201/6/20201/6/20201/...

                                         Value
Metric      Campaign
Impressions Armada campaign 2      118817195.0
            Pathfinder campaign 2  115286607.0
            Pathfinder campaign 6   51823574.0
            Pathfinder campaign 1   48923126.0
            Altima campaign 3       45451489.0
...                                        ...
Clicks      Kicks campaign 1              25.0
            Kicks campaign 2               7.0
            Armada campaign 1              0.0
Media Cost  Kicks campaign 1               0.0
            Kicks campaign 2               0.0

[174 rows x 2 columns]

Find out the top 5 months in terms of impression

In [64]:
df_c=df[df['Metric']=='Impressions']

In [65]:
df_c

,Date,Data source,Campaign,Media Type,City,Metric,Value
0,12/30/2019,Pinterest,Kicks campaign 2,Display,Colorado Springs-Pueblo,Impressions,1.0
3,12/30/2019,Pinterest,Kicks campaign 2,Display,Sacramnto-Stkton-Modesto,Impressions,1.0
6,12/30/2019,Pinterest,Kicks campaign 1,Online Video,New York,Impressions,2.0
9,12/30/2019,Pinterest,Kicks campaign 1,Online Video,Atlanta,Impressions,1.0
12,12/30/2019,Pinterest,Kicks campaign 1,Online Video,Indianapolis,Impressions,2.0
...,...,...,...,...,...,...,...
123684,9/30/2021,Snapchat,Pathfinder campaign 7,Online Video,Milwaukee,Impressions,6741.0
123687,9/30/2021,Snapchat,Pathfinder campaign 7,Online Video,Houston,Impressions,14397.0
123690,9/30/2021,Snapchat,Pathfinder campaign 7,Online Video,Seattle - Tacoma,Impressions,11191.0
123693,9/30/2021,Snapchat,Pathfinder campaign 7,Online Video,Sacramento - Stockton - Modesto,Impressions,7626.0
123696,9/30/2021,Snapchat,Pathfinder campaign 7,Online Video,Dallas - Ft. Worth,Impressions,16579.0

In [77]:
large5=df_c.nlargest(5,'Value')['Date']

In [78]:
large5

110946    9/13/2021
3936       3/9/2020
115773    9/20/2021
3279       3/2/2020
2703       3/2/2020
Name: Date, dtype: object

In [82]:
df_c['Date']=pd.to_datetime(df_c['Date'])

In [83]:
df_c

,Date,Data source,Campaign,Media Type,City,Metric,Value
0,2019-12-30,Pinterest,Kicks campaign 2,Display,Colorado Springs-Pueblo,Impressions,1.0
3,2019-12-30,Pinterest,Kicks campaign 2,Display,Sacramnto-Stkton-Modesto,Impressions,1.0
6,2019-12-30,Pinterest,Kicks campaign 1,Online Video,New York,Impressions,2.0
9,2019-12-30,Pinterest,Kicks campaign 1,Online Video,Atlanta,Impressions,1.0
12,2019-12-30,Pinterest,Kicks campaign 1,Online Video,Indianapolis,Impressions,2.0
...,...,...,...,...,...,...,...
123684,2021-09-30,Snapchat,Pathfinder campaign 7,Online Video,Milwaukee,Impressions,6741.0
123687,2021-09-30,Snapchat,Pathfinder campaign 7,Online Video,Houston,Impressions,14397.0
123690,2021-09-30,Snapchat,Pathfinder campaign 7,Online Video,Seattle - Tacoma,Impressions,11191.0
123693,2021-09-30,Snapchat,Pathfinder campaign 7,Online Video,Sacramento - Stockton - Modesto,Impressions,7626.0
123696,2021-09-30,Snapchat,Pathfinder campaign 7,Online Video,Dallas - Ft. Worth,Impressions,16579.0

In [84]:
large5=df_c.nlargest(5,'Value')['Date']

In [85]:
large5

110946   2021-09-13
3936     2020-03-09
115773   2021-09-20
3279     2020-03-02
2703     2020-03-02
Name: Date, dtype: datetime64[ns]

In [ ]:
Which model has maximum impressions?

In [115]:
ds=pd.read_csv('Campaign datas.csv')

In [130]:
ds

                 Campaign   Message type        Model
0       Sentra campaign 2  Future Market       Sentra
1       Sentra campaign 4  Future Market       Sentra
2       Sentra campaign 3  Future Market       Sentra
3       Sentra campaign 1  Future Market       Sentra
4       Altima campaign 1  Future Market       Altima
5       Altima campaign 5  Future Market       Altima
6       Altima campaign 4  Future Market       Altima
7       Altima campaign 6  Future Market       Altima
8        Kicks campaign 6  Future Market        Kicks
9        Kicks campaign 5  Future Market        Kicks
10       Rogue campaign 1  Future Market        Rogue
11       Rogue campaign 3  Future Market        Rogue
12       Rogue pre launch  Future Market        Rogue
13       Rogue campaign 5  Future Market        Rogue
14       Rogue campaign 4  Future Market        Rogue
15  Pathfinder campaign 3    Near Market   Pathfinder
16      Armada campaign 1    Near Market       Armada
17  Pathfinder campaign 8    Near Market   Pathfinder
18  Pathfinder campaign 5    Near Market   Pathfinder
19  Pathfinder campaign 6    Near Market   Pathfinder
20  Pathfinder campaign 7    Near Market   Pathfinder
21      Altima campaign 3  Future Market       Altima
22      Altima campaign 2  Future Market       Altima
23      Altima campaign 7    Near Market       Altima
24      Altima campaign 8    Near Market       Altima
25       Rogue campaign 2  Future Market        Rogue
26       Kicks campaign 3  Future Market        Kicks
27       Kicks campaign 4  Future Market        Kicks
28  Pathfinder campaign 2    Near Market   Pathfinder
29  Pathfinder campaign 1    Near Market   Pathfinder
30  Pathfinder campaign 4    Near Market   Pathfinder
31           shop at home  Future Market  Multi-Model
32       Kicks campaign 2    Near Market        Kicks
33       Kicks campaign 1    Near Market        Kicks
34      Armada campaign 2    Near Market       Armada
35      Armada campaign 4    Near Market       Armada
36      Armada campaign 3    Near Market       Armada
37     Sentra campaign 11    Near Market       Sentra
38     Sentra campaign 14    Near Market       Sentra
39     Sentra campaign 20    Near Market       Sentra
40     Sentra campaign 21    Near Market       Sentra
41      Sentra campaign 9    Near Market       Sentra
42      Sentra campaign 7    Near Market       Sentra
43      Sentra campaign 6    Near Market       Sentra
44     Sentra campaign 12    Near Market       Sentra
45     Sentra campaign 19    Near Market       Sentra
46     Sentra campaign 18    Near Market       Sentra
47     Sentra campaign 22    Near Market       Sentra
48     Sentra campaign 23    Near Market       Sentra
49     Sentra campaign 25    Near Market       Sentra
50      Sentra campaign 5    Near Market       Sentra
51     Sentra campaign 13    Near Market       Sentra
52     Sentra campaign 15    Near Market       Sentra
53      Sentra campaign 8    Near Market       Sentra
54     Sentra campaign 10    Near Market       Sentra
55     Sentra campaign 24    Near Market       Sentra
56     Sentra campaign 16    Near Market       Sentra
57     Sentra campaign 17    Near Market       Sentra

In [132]:
ds.columns

Index(['Campaign', 'Message type', 'Model'], dtype='object')

In [137]:
ds.sample

<bound method NDFrame.sample of                  Campaign   Message type        Model
0       Sentra campaign 2  Future Market       Sentra
1       Sentra campaign 4  Future Market       Sentra
2       Sentra campaign 3  Future Market       Sentra
3       Sentra campaign 1  Future Market       Sentra
4       Altima campaign 1  Future Market       Altima
5       Altima campaign 5  Future Market       Altima
6       Altima campaign 4  Future Market       Altima
7       Altima campaign 6  Future Market       Altima
8        Kicks campaign 6  Future Market        Kicks
9        Kicks campaign 5  Future Market        Kicks
10       Rogue campaign 1  Future Market        Rogue
11       Rogue campaign 3  Future Market        Rogue
12       Rogue pre launch  Future Market        Rogue
13       Rogue campaign 5  Future Market        Rogue
14       Rogue campaign 4  Future Market        Rogue
15  Pathfinder campaign 3    Near Market   Pathfinder
16      Armada campaign 1    Near Market       Armada
17  Pathfinder campaign 8    Near Market   Pathfinder
18  Pathfinder campaign 5    Near Market   Pathfinder
19  Pathfinder campaign 6    Near Market   Pathfinder
20  Pathfinder campaign 7    Near Market   Pathfinder
21      Altima campaign 3  Future Market       Altima
22      Altima campaign 2  Future Market       Altima
23      Altima campaign 7    Near Market       Altima
24      Altima campaign 8    Near Market       Altima
25       Rogue campaign 2  Future Market        Rogue
26       Kicks campaign 3  Future Market        Kicks
27       Kicks campaign 4  Future Market        Kicks
28  Pathfinder campaign 2    Near Market   Pathfinder
29  Pathfinder campaign 1    Near Market   Pathfinder
30  Pathfinder campaign 4    Near Market   Pathfinder
31           shop at home  Future Market  Multi-Model
32       Kicks campaign 2    Near Market        Kicks
33       Kicks campaign 1    Near Market        Kicks
34      Armada campaign 2    Near Market       Armada
35      Armada campaign 4    Near Market       Armada
36      Armada campaign 3    Near Market       Armada
37     Sentra campaign 11    Near Market       Sentra
38     Sentra campaign 14    Near Market       Sentra
39     Sentra campaign 20    Near Market       Sentra
40     Sentra campaign 21    Near Market       Sentra
41      Sentra campaign 9    Near Market       Sentra
42      Sentra campaign 7    Near Market       Sentra
43      Sentra campaign 6    Near Market       Sentra
44     Sentra campaign 12    Near Market       Sentra
45     Sentra campaign 19    Near Market       Sentra
46     Sentra campaign 18    Near Market       Sentra
47     Sentra campaign 22    Near Market       Sentra
48     Sentra campaign 23    Near Market       Sentra
49     Sentra campaign 25    Near Market       Sentra
50      Sentra campaign 5    Near Market       Sentra
51     Sentra campaign 13    Near Market       Sentra
52     Sentra campaign 15    Near Market       Sentra
53      Sentra campaign 8    Near Market       Sentra
54     Sentra campaign 10    Near Market       Sentra
55     Sentra campaign 24    Near Market       Sentra
56     Sentra campaign 16    Near Market       Sentra
57     Sentra campaign 17    Near Market       Sentra>

In [140]:
ds.head()

            Campaign   Message type   Model
0  Sentra campaign 2  Future Market  Sentra
1  Sentra campaign 4  Future Market  Sentra
2  Sentra campaign 3  Future Market  Sentra
3  Sentra campaign 1  Future Market  Sentra
4  Altima campaign 1  Future Market  Altima

In [141]:
ds.tail()

              Campaign Message type   Model
53   Sentra campaign 8  Near Market  Sentra
54  Sentra campaign 10  Near Market  Sentra
55  Sentra campaign 24  Near Market  Sentra
56  Sentra campaign 16  Near Market  Sentra
57  Sentra campaign 17  Near Market  Sentra

Which model has maximum impressions?

In [142]:
ds.max()

Campaign        shop at home
Message type     Near Market
Model                 Sentra
dtype: object

In [143]:
ds.count()

Campaign        58
Message type    58
Model           58
dtype: int64

In [147]:
ds['Model'].value_counts()

Model
Sentra         25
Altima          8
Pathfinder      8
Kicks           6
Rogue           6
Armada          4
Multi-Model     1
Name: count, dtype: int64

In [165]:
#sentra model have max impression 25 times

In [166]:
ds.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
52    False
53    False
54    False
55    False
56    False
57    False
dtype: bool

Find out the top 3 campaigns in terms of impressions for every message type

In [167]:
ds

                 Campaign   Message type        Model
0       Sentra campaign 2  Future Market       Sentra
1       Sentra campaign 4  Future Market       Sentra
2       Sentra campaign 3  Future Market       Sentra
3       Sentra campaign 1  Future Market       Sentra
4       Altima campaign 1  Future Market       Altima
5       Altima campaign 5  Future Market       Altima
6       Altima campaign 4  Future Market       Altima
7       Altima campaign 6  Future Market       Altima
8        Kicks campaign 6  Future Market        Kicks
9        Kicks campaign 5  Future Market        Kicks
10       Rogue campaign 1  Future Market        Rogue
11       Rogue campaign 3  Future Market        Rogue
12       Rogue pre launch  Future Market        Rogue
13       Rogue campaign 5  Future Market        Rogue
14       Rogue campaign 4  Future Market        Rogue
15  Pathfinder campaign 3    Near Market   Pathfinder
16      Armada campaign 1    Near Market       Armada
17  Pathfinder campaign 8    Near Market   Pathfinder
18  Pathfinder campaign 5    Near Market   Pathfinder
19  Pathfinder campaign 6    Near Market   Pathfinder
20  Pathfinder campaign 7    Near Market   Pathfinder
21      Altima campaign 3  Future Market       Altima
22      Altima campaign 2  Future Market       Altima
23      Altima campaign 7    Near Market       Altima
24      Altima campaign 8    Near Market       Altima
25       Rogue campaign 2  Future Market        Rogue
26       Kicks campaign 3  Future Market        Kicks
27       Kicks campaign 4  Future Market        Kicks
28  Pathfinder campaign 2    Near Market   Pathfinder
29  Pathfinder campaign 1    Near Market   Pathfinder
30  Pathfinder campaign 4    Near Market   Pathfinder
31           shop at home  Future Market  Multi-Model
32       Kicks campaign 2    Near Market        Kicks
33       Kicks campaign 1    Near Market        Kicks
34      Armada campaign 2    Near Market       Armada
35      Armada campaign 4    Near Market       Armada
36      Armada campaign 3    Near Market       Armada
37     Sentra campaign 11    Near Market       Sentra
38     Sentra campaign 14    Near Market       Sentra
39     Sentra campaign 20    Near Market       Sentra
40     Sentra campaign 21    Near Market       Sentra
41      Sentra campaign 9    Near Market       Sentra
42      Sentra campaign 7    Near Market       Sentra
43      Sentra campaign 6    Near Market       Sentra
44     Sentra campaign 12    Near Market       Sentra
45     Sentra campaign 19    Near Market       Sentra
46     Sentra campaign 18    Near Market       Sentra
47     Sentra campaign 22    Near Market       Sentra
48     Sentra campaign 23    Near Market       Sentra
49     Sentra campaign 25    Near Market       Sentra
50      Sentra campaign 5    Near Market       Sentra
51     Sentra campaign 13    Near Market       Sentra
52     Sentra campaign 15    Near Market       Sentra
53      Sentra campaign 8    Near Market       Sentra
54     Sentra campaign 10    Near Market       Sentra
55     Sentra campaign 24    Near Market       Sentra
56     Sentra campaign 16    Near Market       Sentra
57     Sentra campaign 17    Near Market       Sentra

In [168]:
(ds.groupby(['Campaign'])[['Message type','Model']].sum()).sort_values(by='Message type',ascending=False)[:3]

                      Message type       Model
Campaign
Pathfinder campaign 3  Near Market  Pathfinder
Sentra campaign 18     Near Market      Sentra
Pathfinder campaign 5  Near Market  Pathfinder